{{extend 'chuTemplate.html'}}
{{block body}}

<style>
.thumbnail {
  background-color: #F6E490;
  border: #F6E490;
}

.p{
  color:#774111;
  font-size: 14; 
}

.ppad{
	padding: 0px 20px 10px 20px;
}

.conteiner-fluid{
	padding: 40px;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
}
}
</style>


  <div class="p">
    <div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
      <div class=conteiner-fluid>
       <div class="row">
        <div class="thumbnail">
          </br>
          </br>

            <img src="../static/images/404.png"  width=100 height=100>
        
            <div class="caption">

              <font color="#774111">
			         <p class="ppad">
               <center>
                <h3>
                <b>¡No, otra vez!</b>
              </h3>
        
             <h6> Se nos ha escapado una pieza vital de esta sección.</br>
                   Cuando la volvamos a atrapar ya estará todo en orden
            </h6>
              </center>
      
        	   </br>

              </p>
	         	</font>
          </div>
   
	       <center>
            <a href="{{=URL('controllerVistaHome','index')}}">
             <span>
              <img src="{{=URL('static','images/atras.png')}}"  height="50px" widht="50px"/>
            </span>
            </a>
        </div>
         </center>
         </br>
     	</div>
     </div>
    </div>
   </div>
  </div>


{{end}}
