{{extend 'chuTemplate.html'}}

{{block body}}
<html lang= "es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuListaEsculturas.css')}}"/>
    <title>lista de escultura</title>
</head>
<body>
<div class="conteiner-fluid">
	<div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 center">
		<div class="thumbnail">
			<center>
   				<p class="text-center lista"><b>Lista de Esculturas</b></p>
     			
     		</center>
     		<center>
			<div class="container-fluid">
				<div id="wrapper">
					<div class="scrollbar" id="style-2">
				     	<div class="force-overflow">
				    		<div class="table-responsive">
								<table class="table table-striped">
									<tr>
										<th><p class="p"><b>Perro Fernando</b></p><p><font color="#C0CA33"><i>Adquirida</i></font></p></th>
										<td align="right"><a href="{{=URL('chuInfoEscul','index')}}"><button class="button2"><img src="../static/images/escultura1.png" height="60px" widht="60px"/></button></td>
										
									</tr>
									<tr>
										<th><p class="p"><b>
										Metamorfosis
										</b></p></<p><font color="#F44336"><i>Bloqueada</i></font></p></th>
										<td align="right"><a href="{{=URL('chuTrivia','index')}}"><button class="button2"><img src="../static/images/esculturaBloqueada.png" height="60px" widht="60px"/></button></a>
										</td>
									</tr>
									<tr>
										<th><p class="p"><b>Alma</b></p><p><font color="#C0CA33"><i>Adquirida</i></font></p></th>
										<td align="right"><a href="{{=URL('chuInfoEscul','index')}}"><button class="button2"><img src="../static/images/escultura3.png" height="60px" widht="60px"/></button></td>
									</tr>

									<tr>
										<th><p class="p"><b>
										Universo
										</b></p></<p><font color="#F44336"><i>Bloqueada</i></font></p></th>
										<td align="right"><a href="{{=URL('chuTrivia','index')}}"><button class="button2"><img src="../static/images/esculturaBloqueada.png" height="60px" widht="60px"/></button></a>
										</td>
									</tr>

									<tr>
										<th><p class="p"><b>Holocausto Universal</b></p><p><font color="#C0CA33"><i>Adquirida</i></font></p></th>
										<td align="right"><a href="{{=URL('chuInfoEscul','index')}}"><button class="button2"><img src="../static/images/escultura2.png" height="60px" widht="60px"/></button></td>
									</tr>

									<tr>
										<th><p class="p"><b>
										Abstraccion
										</b></p></<p><font color="#F44336"><i>Bloqueada</i></font></p></th>
										<td align="right"><a href="{{=URL('chuTrivia','index')}}"><button class="button2"><img src="../static/images/esculturaBloqueada.png" height="60px" widht="60px"/></button></a>
										</td>
									</tr>

									<tr>
										<th><p class="p"><b>Leon de Damasco</b></p><p><font color="#C0CA33"><i>Adquirida</i></font></p></th>
										<td align="right"><a href="{{=URL('chuInfoEscul','index')}}"><button class="button2"><img src="../static/images/escultura4.png" height="60px" widht="60px"/></button></td>
									</tr>

									<tr>
										<th><p class="p"><b>
										El Sembrador
										</b></p></<p><font color="#F44336"><i>Bloqueada</i></font></p></th>
										<td align="right"><a href="{{=URL('chuTrivia','index')}}"><button class="button2"><img src="../static/images/esculturaBloqueada.png" height="60px" widht="60px"/></button></a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			</center>
			<center>
			<a href="{{=URL('controllerVistaHome','index')}}">
				<spam><img src="../static/images/atras.png"  height="50" widht="50"/><spam>
			</a>
			</center>
		</div>

	</div>
</div>
</body>
</html>



{{end}}