{{extend 'chuTemplate.html'}}


{{block body}}
<html>
<head lang= "es">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuLista.css')}}"/>
    <title>lista de escultura</title>

</head>
<body data-spy="scroll" data-target="container-fluid" data-offset="80">
    <div class="conteiner-fluid contenedor">    
        <div class="row">
            <div class="thumbnail caja">
                <div class="container-fluid">
                    <h2 class="text-center titulo">Lista de Esculturas</h2>
                    <button class="btn ja" style="background-color:transparent"><a href="{{=URL('controllerVistaHome','index')}}"><img src="../static/images/atras.png" width=50 height=50 ></a></button>
                    <button class="mapa"><a href="{{=URL('chuMap','index')}}" class="btn" style="color:#FFFE9F;"><b>MAPA</b></em></a></button>
                    <div class="row">
                        <div class="thumbnail ride" id="target" style="height:60vh;min-height:200px;line-height:3em;overflow:auto;padding:5px;">
                                <div class="container-fluid">
                                    <div id="section1" class="container-fluid">
                                        <div class="conteiner-fluid">
                                            <div class="row fila">
                                                <div class="col-6 col-6">
                                                    <div class="row">
                                                        <div class="conteiner">
                                                            <div class="col-xs-3 col-md-3">
                                                                <div class="mobile-collapse">
                                                                    <img  src="../static/images/21.jpg" width="75" height="75" class="img-responsive" alt="Imagen responsive">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-6">
                                                            <h5 class="text-left texto">
                                                            <b>El Alma</b></h5>
                                                            <h6>
                                                            <li class="text-left">
                                                            Líbero Badíi</li>
                                                            <li class="text-left">Av. Alberdi 202
                                                            </li>
                                                            </h6>
                                                        </div>
                                                        <div class="col-xs-3 col-md-3">
                                                        <h5 class="text-left larger">
                                                        <em>Adquirida</em></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>             
                                    
                                    <div id="section2" class="container-fluid">
                                        <div class="conteiner-fluid">
                                            <div class="row fila">
                                                <div class="col-6 col-6">
                                                    <div class="row">
                                                        <div class="conteiner">
                                                            <div class="col-xs-3 col-md-3">
                                                                <div class="mobile-collapse">
                                                                    <img  src="../static/images/bloqueada2.jpg" width="90" height="90" class="img-responsive" alt="Imagen responsive">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-md-5">
                                                            <h5 class="text-left texto">
                                                            <b>Manantial</b></h5>
                                                            <h6>
                                                            <li class="text-left">
                                                            Plaza 25 de Mayo</li>
                                                            <em class="red">Bloqueada</em></h6>
                                                        </div>
                                                        <div class="col-xs-3 col-md-3">
                                                            <button class="jugar"><a href="#" class="btn" style="color:white;">Jugar</em></a></button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="section3" class="container-fluid">
                                        <div class="conteiner-fluid">
                                            <div class="row fila">
                                                <div class="col-6 col-6">
                                                    <div class="row">
                                                        <div class="conteiner">
                                                            <div class="col-xs-3 col-md-3">
                                                                <div class="mobile-collapse">
                                                                    <img  src="../static/images/47.jpg" width="90" height="90" class="img-responsive" alt="Imagen responsive">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-6">
                                                            <h5 class="text-left texto">
                                                            <b>Desnudo</b></h5>
                                                            <h6>
                                                            <li class="text-left">
                                                            Hernán Dompé</li>
                                                            <li class="text-left">
                                                            Av. Italia 50</li>
                                                            </h6>
                                                        </div>
                                                        <div class="col-xs-3 col-md-3">
                                                        <h5 class="text-left larger">
                                                        <em>Adquirida</em></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="section4" class="container-fluid">
                                        <div class="conteiner-fluid">
                                            <div class="row fila">
                                                <div class="col-6 col-6">
                                                    <div class="row">
                                                        <div class="conteiner">
                                                            <div class="col-xs-3 col-md-3">
                                                                <div class="mobile-collapse">
                                                                    <img  src="../static/images/bloqueada1.jpg" width="90" height="90" class="img-responsive" alt="Imagen responsive">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-md-5">
                                                            <h5 class="text-left texto">
                                                            <b>Manantial</b></h5>
                                                            <h6>
                                                            <li class="text-left">
                                                            Plaza 25 de Mayo</li>
                                                            <em class="red">Bloqueada</em></h6>
                                                        </div>
                                                        <div class="col-xs-3 col-md-3">
                                                            <button class="jugar"><a href="#" class="btn" style="color:white;">Jugar</a></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="section5" class="container-fluid">
                                        <div class="conteiner-fluid">
                                            <div class="row fila">
                                                <div class="col-6 col-6">
                                                    <div class="row">
                                                        <div class="conteiner">
                                                            <div class="col-xs-3 col-md-3">
                                                                <div class="mobile-collapse">
                                                                    <img  src="../static/images/137.jpg" width="90" height="90" class="img-responsive" alt="Imagen responsive">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-6">
                                                            <h5 class="text-left texto">
                                                            <b>Madre de la tierra</b></h5>
                                                            <h6>
                                                            <li class="text-left">Elizabeth Juan
                                                            </li>
                                                            <li class="text-left">
                                                            Av. Sarmiento 355</li></h6>
                                                        </div>
                                                        <div class="col-xs-3 col-md-3">
                                                        <h5 class="text-left larger">
                                                        <em>Adquirida</em></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


{{end}}
