{{extend 'chuTemplate.html'}}

{{block body}}
<div style="color:black">
	<h1>
    	<big><b>Nosotros</b></big>
	</h1>
			
	<br>
			
	<h3>
		<b> De la búsqueda de un puente entre el mundo del software y aquellos que aún lo desconocen, surge commonTec, con el solo interés de hacer de tu día uno más liviano.</b>
	</h3>

	<h3>
    <b> Somos una empresa surgida del Informatorio 2016, con proyectos destinados a la inmejorable eficiencia de tus soluciones, que sacan de la rutina a la rutina misma.</b>
	</h3>
		<b> Somos una empresa surgida del Informatorio 2016, con proyectos destinados a la inmejorable eficiencia de tus soluciones, que sacan de la rutina a la rutina misma.</b>
	</h3>
</div>
<script>
	function goBack() {
	    window.history.back();
	}
</script>
<button onclick="goBack()"><img src=../static/images/atras.png></button>
{{end}}
