{{extend 'chuTemplate.html'}}

{{block body}}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{=URL('static','css/chuInfoEscul.css')}}"/>
</head>

<div class=conteiner-fluid>
  <div class="row">
      <div class="thumbnail">
        <div class="">
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <div class="one-third mobile-collapse">
                <img  src="../static/images/esculturas/21.jpg" class="img-responsive" alt="Imagen responsive">
              </div>
            </div>
            
            <div class="col-xs-6 col-md-6">
              <h4 class=text-left><b>The Girl</b></h4>
              <h6>
                <li class=text-left><p><b>A al vuelta de mi casa</b></p></li>
                <li class=text-left><p><b>23 de junio,1998</b></p></li>
                <li class=text-left><p><b>Autor: Cosme Fulanito</b></p></li>
                <li class=text-left><p><b>Material: Plastilina</b></p></li>
                <li class=text-left><p><b>Origen: China</b></p></li>
              </h6>
              <button><a href="{{=URL('chuMap','index')}}" class="btn">Ver en Mapa</a></button>
            </div>
          </div>
        </div>        
      </div>
  </div>
</div>
{{end}}