{{extend 'chuTemplate.html'}}

{{block body}}

<html>
<head lang= "es">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuNosotros.css')}}"/>
    <title>Nosotros</title>

</head>

<body>
<div class="conteiner-fluid">
  <div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 center">
    <div class="row caja">
      <div class="thumbnail">

        <a href="{{=URL('controllerVistaHome','index')}}">
        <img class="frasco" src="../static/images/chuwalSolo.png"  width=240 height=240>
        </a>
        
        <center>
          <h5><font color="#774111"><b class="nosotros">Ayuda</b></font></h5>
        </center>
        
        <p class="ppad"> 
          <b>
          Chuwal es un juego donde tu objetivo es cazar las esculturas más extravagantes de la ciudad de Resistencia, más conocida como "La ciudad de las esculturas"</b>

          </br></br>
        
          <b>1-</b>  Para comenzar a jugar, presionás el botón  <i>"Jugar"</i>  del menú de inicio.<br>
 
          <img class="frasco" src="../static/images/BotonJugarPosta.png"  width=100 height=68><br><br>

          <b>2-</b> Ya estas dentro del mapa. Ahora, vas a poder ver las ubicaciones de cada escultura que podés cazar (o que ya cazaste).<br>

          <img class="frasco" src="../static/images/PinVerde.png"  width=33 height=62><br><br>

           <b>3-</b> Presionando cualquiera de los marcadores, vas a tener la posibilidad de cualquiera de dos botones: uno para ver la información de la escultura (si ya la cazaste) y otro para cazar la escultura (si aún no lo hiciste)<br><br>

           <b>4-</b> Si elegís <b>cazar la escultura</b> (tanto del mapa como de la lista), vas a tener frente a vos una <i>trivia</i>, a través de la cual vas a poder obtener la obra de arte.<br> Cabe destacar que para saber qué responder, es necesario que visites la escultura y encuentres su placa informativa.<br><br>

           <b>5-</b> Por cada vez que no aciertes, se te descontarán puntos del total de la escultura ¡Así que no te arriesgues!'
           <br>

         </p>
   
	  <center>
     <a href="{{=URL('controllerVistaHome','index')}}">
      <span><img class="atras" src="{{=URL('static','images/atras.png')}}"  height="50" widht="50"/></span>
      </a>
      </div>
      </center>
     	</div>
     
    </div>
   </div>
  </div>
</body>


{{end}}
