{{extend 'chuTemplate.html'}}
{{block body}}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chu404.css')}}"/>
    <title>chu404</title>
</head>
<body>

  <div class="p">
    <div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
      <div class=conteiner-fluid>
       <div class="row">
        <div class="thumbnail">
          </br>
          </br>

            <img src="../static/images/404.png"  width="100" height="100">
        
            <div class="caption">

              <font color="#774111">
			         <p class="ppad">
               <center>
                <h3>
                <b>¡No, otra vez!</b>
              </h3>
        
             <h6> Se nos ha escapado una pieza vital de esta sección.</br>
                   Cuando la volvamos a atrapar ya estará todo en orden
            </h6>
              </center>
      
        	   </br>

              </p>
	         	</font>
          </div>
   
	       <center>
            <a href="{{=URL('chuInterface','chuHome')}}">
             <span>
              <img class="atras" src="{{=URL('static','images/atras.png')}}"  height="50" widht="50"/>
            </span>
            </a>
        </div>
         </center>
         </br>
     	</div>
     </div>
    </div>
   </div>
  </div>
</body>
</html>


{{end}}