{{extend 'chuTemplate.html'}}

{{block body}}

<html lang= "es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuList.css')}}"/>
    <title>controllerVistaHome</title>
</head>
  <!-- Logo Y Boton Jugar -->

 
  <div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
  <div class="row">

    <center><img src="../static/images/chuwalLogo.png" width="370" height="370" class="btnAc img-responsive" alt="Imagen responsive">
    </center>
    
    <br>
     <center>
      <a href="{{=URL('chuGame','chuMap')}}">
        <img src="../static/images/BotonJugarPosta.png" width="150" height="100" class="jugar img-responsive" alt="Imagen responsive">
      </a>
    </center>
    <br>
    <br>
    <br>
    <center>
      <a href="{{=URL('chuInterface','chuUs')}}">
        <img src="../static/images/CommonTec.png" width="128" height="100" class="common img-responsive" alt="Imagen responsive">
      </a>
    </center>
  </div>
  </div>
</div>   
{{end}}