{{extend 'chuTemplate.html'}}

{{block body}}

<style>



</style>
  <!-- Logo Y Boton Jugar -->

 
  <div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
  <div class="row">

    <center><img src="{{=URL('static','images/chuwalLogo.png')}}" width="40%" height="40%" class="btnAc"/></center>
    
    </br>

     <center>
      <a href="{{=URL('chuGame','chuMap')}}">
        <img src="{{=URL('static','images/BotonJugarPosta.png')}}" width="18%" height="14%"/>
      </a>
    </center>

    </br>

    </br>

    <center>
      <a href="{{=URL('chuInterface','chuUs')}}">
        <img src="{{=URL('static','images/CommonTec.png')}}" width="15%" height="5%"/>
      </a>
    </center>
  </div>
  </div>
</div>  
{{end}}