{{extend 'chuTemplate.html'}}

{{block body}}

<html>
<head lang= "es">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuRelated.css')}}"/>
    <title>Nosotros</title>

</head>

<body>
<div class="conteiner-fluid">
  	<div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
    	<div class="row caja">
      		<div class="thumbnail">
      			<center>
      			<h3 style="color:#774111;"><b>Aplicaciones Vinculadas</b></h3>
      			<br>
      			<img  class="img-responsive" alt="Imagen responsive" src="../static/images/esQltoR.png" width="110" heignt="110">
      			<br>
      			</center>
      			<p class="ppad">Brindar la información de los escultores a través e un código QR.Acceder al perfil de un artista a partir de un codigo QR.Ver un listado de escultores paralelos y brindar información audible.Dar un pequeño resumen de la bienal.</p>
      			
      			<center>
      				<img  class="img-responsive" alt="Imagen responsive" src="../static/images/InformarQ.png" width="300" heignt="70">
      			</center>
      			<p class="ppad"> Brinda información a los participantes de la Bienal sobre acontecimientos dentro del evento y otros datos de interes general dando además la opción de sincronización y descarga de estos datos.</p>
      			
      			<center>
      				<img  class="img-responsive" alt="Imagen responsive" src="../static/images/GuiarTec.png" width="110" heignt="110">
      			</center>
      			<p class="ppad">Dar a conocer la ubicación de las esculturas, museos y otros centros culturales a través del recorridos predefinidos.</p>
      			
      			<center>
      				<img  class="img-responsive" alt="Imagen responsive" src="../static/images/BrainChaco.png" width="200" heignt="100">
      			</center>
      			<p class="ppad">Ofrecer un juego que permita al usuario, a través del entretenimiento, obtener conocimiento sobre cultura, geografía, esculturas de la Bienal y la historia de la provincia del Chaco.</p>

      			<center>
      				<img  class="img-responsive" alt="Imagen responsive" src="../static/images/BienAll.png" width="100" heignt="100">
      			</center>
      			<p class="ppad">Fue creada para que todos aquellos apacionados por el arte y las fotografías puedan compartir su experiencia con el mundo a través de fotos de escultura y arte en general del Chaco y así impulsar el turismo en nuestra provincia.</p>
      			<br>
      			<img  class="img-responsive" alt="Imagen responsive" src="../static/images/Informatorio.png" width="200" heignt="70">
      			<center>
      			<br>
      				<form class="btn btn-dafault" onclick="history.back()">
        				<img src="{{=URL('static','images/atras.png')}}" width="80" height="30"/>
      				</form>
      			</center>

      		</div>
      	</div>
    </div>
</div>
</body>
</html>
{{end}}