{{extend 'chuTemplate.html'}}

{{block body}}

<html>
<head lang= "es">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuUs.css')}}"/>
    <title>Nosotros</title>

</head>

<body>
<div class="conteiner-fluid">
  <div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 center">
    <div class="row caja">
      <div class="thumbnail">
      <img class="frasco" src="../static/images/frascoSolo.png"  width=50 height=50>
        
    
        <h3>
        <font color="#774111">
        <center>
        <b class="nosotros">Nosotros</b>
        </center>
        </font>
        </h3>
        
          
        
        <font color="#774111">
      <p class="ppad">
          De la búsqueda de un puente entre el mundo del software y aquellos que aún lo desconocen, surge commonTec, con el solo interés de hacer de tu día uno más liviano.
          
          
          

          </br>

          Somos una empresa surgida del Informatorio 2016, con proyectos destinados a la inmejorable eficiencia de tus soluciones, que sacan de la rutina a la rutina misma.

          



       
      </p>
    </font>
   
    <center>
     <a href="{{=URL('chuInterface','chuHome')}}">
      <span><img class="atras" src="{{=URL('static','images/atras.png')}}"  height="50" widht="50"/></span>
      </a>
      </div>
      </center>
      </div>
     
    </div>
   </div>
  </div>
</body>

{{end}}