<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="{{=URL('static','css/chuCSS.css')}}"/> 
 <link rel="stylesheet" href="{{=URL('static','css/chuWelcome.css')}}"/>
 <link rel="stylesheet" href="{{=URL('static','css/bootstrap.css')}}">
 <link rel="stylesheet" href="{{=URL('static','css/docs.css')}}">
 <link rel="stylesheet" href="{{=URL('static','css/bootstrap-social.css')}}">
 <link rel="stylesheet" href="{{=URL('static','css/font-awesome.css')}}">


<style type="text/css">
    
    .btn-primary {
    color: #fff;
    background-color: #BC9059;
    border-color: #fff;
  
}

.btn-primary:hover {

    text-decoration: none;
    background-color: #BC9059;
    border-color: #BC9059;
  
}

.chuLogo{

    margin: 20px 0;

}
</style>

</head>


<body class="backgroundChu">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">

                <center>
                    <div class="chuLogo">

                     <img class="btnAc img-responsive" src="../static/images/chuwalLogo.png" width=70% height=70%
                    alt="Imagen responsive">
                    </div>
                    <br>
                    <h4>Un mundo de esculturas, de verdaderas esculturas, te espera listo para ser atrapado.</h4>

                     </center>

                <form class="form-signin">

                 <a class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>
                Registrarse con Facebook</a>

                <br>
                
                <a class="btn btn-block btn-social btn-lg btn-google"><i class="fa fa-google"></i>
                Registrarse con Google</a>


               
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Recordarme
                </label>
                <a href="{{=URL('chuInterface','chuHelp')}}" class="pull-right need-help"><b>Ayuda</b></a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>