{{extend 'chuTemplate.html'}}
 
{{block body}}
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{=URL('static','css/chuHunt.css')}}"/>
	<title>Hunt</title>

</head>
<body>
<div class="conteiner-fluid">
  	<div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
		<div class="row">
      		<div class="thumbnail borde">
      			<div class="container one" style="border-radius: 5px; background-color:#F6E490; width:100%;">
      				<center>
      					<img src="{{=sculp.fileImageNHURL}}" width="200" height="200" class="imagen img-thumbnail" class="img-responsive" alt="Imagen responsive">
      				</center>

      						<div class="caption">
								<div class="wrap">
									<center>
									<h4><b>{{=p}}</b></h4><br>
									{{for i in mc:}}

										<button style='width:300px;' class="btn trivia" class="btn btn-default btn-responsive"><a href="{{=URL('chuGame','respuesta', args=[sculp.id,i])}}" style="color:#774111;">{{=i}}</a></button><br><br>

									{{pass}}
									</center>
									
								</div>
							</div>
							<center>

							<form class="btn btn-dafault" onclick="history.back()">
      							<img src="{{=URL('static','images/atras.png')}}" width="80" height="30"/>
      						</form>

							</center>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
{{end}}