{{extend 'chuTemplate.html'}}

{{block body}}
<html lang= "es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuList.css')}}"/>
    <title>lista de escultura</title>
</head>
<body>
<div class="conteiner-fluid">
  	<div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 center">
    	<div class="row caja">
      		<div class="thumbnail borde">
				<div class="container one" style="border-radius: 5px; background-color:#F6E490; width:100%;">
					<center>
		   				<p class="text-center lista"><b>Lista de Esculturas</b></p>
		     		</center>
		     		<center>
					<div class="container-fluid">
						<div id="wrapper">
							<div class="scrollbar" id="style-2">
						     	<div class="force-overflow">
						    		<div class="table-responsive">
										<table class="table table-striped">
											{{for place in places:}}
							     								{{
		                                                    if place.cazada=="S":
		                                                            title= place.name
		                                                            estado= "Adquirida"
		                                                            Button= "Ver"
		                                                    else:
		                                                            title= " Desconocida "
		                                                            estado= "Aún no cazada"
		                                                            Button= "Cazar"
		                                                    pass}}
											<tr>
												<th><p class="p"><b>
												{{=H6(title)}}
												</b></p></<p><font color="#F44336"><i>{{=H6(estado)}}</i></font></p></th>
												{{if place.cazada=="N":}}
												<td align="right"><a href="chuHunt.html?args={{=place.sculpture_id}}"><button class="button2"><img src="../static/images/esculturaBloqueada.png" height="60px" widht="60px"/></button></a>
												{{else:}}
												<td align="right"><a href="chuSculptInfo.html?args={{=place.sculpture_id}}"><button class="button2"><img src="../static/images/escultura1.png" height="60px" widht="60px"/></button></td>
												</td>
												{{pass}}
												{{pass}}
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					</center>
					<center>
						<form class="btn btn-dafault atras" onclick="history.back()"><img src="{{=URL('static','images/atras.png')}}" width="80" height="30"/>
		      			</form>
					<button class="mapa" style="background-color:transparent;"><a href="{{=URL('chuGame','chuMap')}}"><img src="{{=URL('static','images/mapa.png')}}" width="80" height="100"/></a></button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
{{end}}