{{extend 'chuTemplate.html'}}


{{block body}}
<html>
<head lang= "es">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{=URL('static','css/chuLista.css')}}"/>
	<title>lista de escultura</title>

</head>
<body data-spy="scroll" data-target="container-fluid" data-offset="80">
	<div class="conteiner-fluid contenedor">	
		<div class="row">
			<div class="thumbnail caja">
				<div class="container-fluid">
				<h2 class="text-center titulo">Lista de Esculturas</h2>
					<div class="row">
						<div class="thumbnail ride" id="target" style="height:60vh;min-height:200px;line-height:3em;overflow:auto;padding:5px;">
			 				
								<div class="container-fluid">

									<div id="section1" class="container-fluid">
										<div class="conteiner-fluid">
		    								<div class="row fila">
		      									<div class="col-6 col-6">
		      										<div class="row">
		      										    <div class="conteiner">
										              		<div class="col-xs-4 col-md-4">
										              			<div class="mobile-collapse">
										                			<img  src="../static/images/21.jpg" width="126" height="226" class="img-responsive" alt="Imagen responsive">
										                		</div>
										              		</div>
										              	</div>
									              		<div class="col-xs-4 col-md-4">
									                		<h5 class="text-left texto">
									                		<b>El Alma</b></h5>
									                		<h6>
									                  		<li class="text-left">
									                  		Líbero Badíi</li>
									                  		<li class="text-left">Av. Alberdi 202
									                  		</li>
									                  		</h6>
									              		</div>
									              		<div class="col-xs-4 col-md-4">
									              		<h4 class="text-center larger">
									              		<em>Adquirida</em></h4>
									              		</div>
									              	</div>
									            </div>
									        </div>
									    </div>
									</div>         	
									
									<div id="section2" class="container-fluid">
										<div class="conteiner-fluid">
		    								<div class="row fila">
		      									<div class="col-6 col-6">
		      										<div class="row">
		      										    <div class="conteiner">
										              		<div class="col-xs-4 col-md-4">
										              			<div class="mobile-collapse">
										                			<img  src="../static/images/bloqueada2.jpg" width="138" height="238" class="img-responsive" alt="Imagen responsive">
										                		</div>
										              		</div>
										              	</div>
									              		<div class="col-xs-4 col-md-4">
									                		<h5 class="text-left texto">
									                		<b>Manantial</b></h5>
									                		<h6>
									                  		<li class="text-left">
									                  		Ernestina Azlor</li>
									                  		<li class="text-left">
									                  		Plaza 25 de Mayo</li></h6>
									                  		<h4 class="red"><em>Bloqueada</em></h4>
									                  	</div>
									              		<div class="col-xs-4 col-md-4">
									              			<button class="jugar"><a href="#" class="btn" style="color:white;">Jugar</a></button>
									              		</div>
									              	</div>
									            </div>
									        </div>
									    </div>
									</div>
									<div id="section3" class="container-fluid">
										<div class="conteiner-fluid">
		    								<div class="row fila">
		      									<div class="col-6 col-6">
		      										<div class="row">
		      										    <div class="conteiner">
										              		<div class="col-xs-4 col-md-4">
										              			<div class="mobile-collapse">
										                			<img  src="../static/images/47.jpg" width="133" height="233" class="img-responsive" alt="Imagen responsive">
										                		</div>
										              		</div>
										              	</div>
									              		<div class="col-xs-4 col-md-4">
									                		<h5 class="text-left texto">
									                		<b>Desnudo</b></h5>
									                		<h6>
									                  		<li class="text-left">
									                  		Hernán Dompé</li>
									                  		<li class="text-left">
									                  		Av. Italia 50</li>
									                  		</h6>
									              		</div>
									              		<div class="col-xs-4 col-md-4">
									              		<h4 class="text-center larger">
									              		<em>Adquirida</em></h4>
									              		</div>
									              	</div>
									            </div>
									        </div>
									    </div>
									</div>
									
									<div id="section4" class="container-fluid">
										<div class="conteiner-fluid">
		    								<div class="row fila">
		      									<div class="col-6 col-6">
		      										<div class="row">
		      										    <div class="conteiner">
										              		<div class="col-xs-4 col-md-4">
										              			<div class="mobile-collapse">
										                			<img  src="../static/images/bloqueada1.jpg" width="135" height="235" class="img-responsive" alt="Imagen responsive">
										                		</div>
										              		</div>
										              	</div>
									              		<div class="col-xs-4 col-md-4">
									                		<h5 class="text-left texto">
									                		<b>Columna ritual</b></h5>
									                		<h6>
									                  		<li class="text-left">
									                  		Francine Secretan</li>
									                  		<li class="text-left">
									                  		Frondizi 980</li></h6>
									                  		<h4 class="red"><em>Bloqueada</em></h4>
									                  	</div>
									              		<div class="col-xs-4 col-md-4">
									              		<h4<button class="jugar"><a href="#" class="btn" style="color:white;">Jugar</a></button></h4>
									              		</div>
									              	</div>
									            </div>
									        </div>
									    </div>
									</div>
									
									<div id="section5" class="container-fluid">
										<div class="conteiner-fluid">
		    								<div class="row fila">
		      									<div class="col-6 col-6">
		      										<div class="row">
		      										    <div class="conteiner">
										              		<div class="col-xs-4 col-md-4">
										              			<div class="mobile-collapse">
										                			<img  src="../static/images/137.jpg" width="135" height="235" class="img-responsive" alt="Imagen responsive">
										                		</div>
										              		</div>
										              	</div>
									              		<div class="col-xs-4 col-md-4">
									                		<h5 class="text-left texto">
									                		<b>Madre de la tierra</b></h5>
									                		<h6>
									                  		<li class="text-left">Elizabeth Juan
									                  		</li>
									                  		<li class="text-left">
									                  		Av. Sarmiento 355</li></h6>
									              		</div>
									              		<div class="col-xs-4 col-md-4">
									              		<h4 class="text-center larger">
									              		<em>Adquirida</em></h4>
									              		</div>
									              	</div>
									            </div>
									        </div>
									    </div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


{{end}}
