@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css');

/*Background*/

.backgroundChu{
	/*background-repeat: no-repeat sirve para que la image no se repita(por defecto todas
		las imagenes se ven dobles)*/
	background-repeat: no-repeat;
	/*background-image:url() ... Propiedad que permite insertar una imagen de fondo*/
	background-image:url(../images/background-chu.png);
    
    /*Deja firme el fondo, aunque scrollee no se va a mover*/
    background-attachment: fixed;
    
    /*Re-size-responsive*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

    /*Centra el fondo*/
    background-position:center;
}
.btnAc{
    padding-top: 20px;
}
.pT{
    padding-top: 10%; 
}
 
.one {
    border-style: solid;
    border-width: 5px;
    border-color:#B37E44;
}

.cov{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;    
}
.common{
    padding-top:130px;
}
/*Plantilla general para los botones*/
.btnGen{
	font-size: 15px;
    border-radius: 10px;
    display: block;
    font-family: Helvetica Neue,arial,sans-serif;
    font-weight: 700;
    padding: 10px 58px;
    position: absolute;
    top:16em;
    right:2em;
    text-shadow: 2px 1px #000000;
    text-transform: uppercase;
}
@media (min-width: 410px) and (max-width: 411px){
    .common{
        padding-top:45%;
    }
}
@media (min-width: 359px) and (max-width: 360px){
    .common{
        padding-top:55%;
    }
}
@media (min-width: 414px) and (max-width: 435px){
    .common{
        padding-top:70%;
    }
}
@media (min-width: 319px) and (max-width: 320px){
    .common{
        padding-top:55%;
    }
}
@media (min-width: 374px) and (max-width: 375px){
    .common{
        padding-top:70%;
    }
}
@media (min-width: 500px) and (max-width: 768px){
    .common{
        padding-top:70%;
        width:159px;
        height:100px;
}
