
/*Background*/

body{
	/*background-repeat: no-repeat sirve para que la image no se repita(por defecto todas
		las imagenes se ven dobles)*/
	background-repeat: no-repeat;
	/*background-image:url() ... Propiedad que permite insertar una imagen de fondo*/
	background-image:url(../images/background-chu.png);
    
    /*Deja firme el fondo, aunque scrollee no se va a mover*/
    background-attachment: fixed;
    
    /*Re-size-responsive*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

    /*Centra el fondo*/
    background-position:center;
}

.btn{
	background: transparent; 
}

/*Acomoda el boton un 40%*/
.btnAc{
	/*Acomoda el boton*/
	margin-top: 13%;
}

/*Plantilla general para los botones*/
.btnGen{
	font-size: 15px;
    border-radius: 10px;
    display: block;
    font-family: Helvetica Neue,arial,sans-serif;
    font-weight: 700;
    padding: 10px 58px;
    position: absolute;
    top:16em;
    right:2em;
    text-shadow: 2px 1px #000000;
    text-transform: uppercase;
}


.btnJ div {
    position:absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    padding-top: 20%
}
.btnJ a {
    display: block;
    margin: 0 auto;
    width: 250px;
}