@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css');

/*Background*/

.backgroundChu{
	/*background-repeat: no-repeat sirve para que la image no se repita(por defecto todas
		las imagenes se ven dobles)*/
	background-repeat: no-repeat;
	/*background-image:url() ... Propiedad que permite insertar una imagen de fondo*/
	background-image:url(../images/background-chu.png);
    
    /*Deja firme el fondo, aunque scrollee no se va a mover*/
    background-attachment: fixed;
    
    /*Re-size-responsive*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

    /*Centra el fondo*/
    background-position:center;
}
.pT{
    padding-top: 10%; 
}
/*Plantilla general para los botones*/
.btnGen{
	font-size: 15px;
    border-radius: 10px;
    display: block;
    font-family: Helvetica Neue,arial,sans-serif;
    font-weight: 700;
    padding: 10px 58px;
    position: absolute;
    top:16em;
    right:2em;
    text-shadow: 2px 1px #000000;
    text-transform: uppercase;
}