.thumbnail {
  background-color: #F6E490;
  border: #F6E490;
}

.p{
  color:#774111;
  font-size: 14; 
}

.ppad{
	padding: 0px 20px 10px 20px;
}

.conteiner-fluid{
	padding: 40px;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
}
.atras{
	padding-bottom:5px;
}