.thumbnail {
  background-color: #F6E490;
  border: #F6E490;
}

.ppad{
	padding: 10px 35px 20px 35px;
  	color:#774111;
  	font-size: 16px; 
}
.atras{
  padding-bottom:10px;
}
.borde {
	border-color: transparent;
	background-color: transparent;
}
.chuwal{
	padding-top:10px;
}
@media (min-width: 500px) and (max-width: 768px){
  .ppad{
    font-size:20px;
  }
  h4{
    font-size: 40px;
  }

}
@media (min-width: 412px) and (max-width: 435px){
  h4{
    font-size: 28px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }

}
@media (min-width: 410px) and (max-width: 411px){
  h4{
    font-size: 23px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }
}
@media (min-width: 409px) and (max-width: 414px){
  h4{
    font-size: 23px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }

}
@media (min-width: 374px) and (max-width: 375px){
  h4{
    font-size: 23px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }
}
@media (min-width: 359px) and (max-width: 360px){
  h4{
    font-size: 22px;
  }
  .ppad{
    font-size:14px;
  }
}
@media (min-width: 319px) and (max-width: 358px){
   .ppad{
    font-size:14px;
  }
   h4 {
    font-size: 19px;
  }
}
