 .contenedor{
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
		border-color:#F6E490;
	}
	.imagen{
		padding-top: 20px;
		-webkit-filter: blur(5px);
    	filter: blur(5px);
	}
	.caja{
		background-color:#F6E490;
		border-color:transparent;
	}
	h4{
		color:#774111;
		font-size:25px;
	}
	.img-thumbnail{
		background-color:#B37E44;
		border-color:transparent;
		padding-top:10px;
	}
	button.trivia.btn{
		background-color:#FFFE9F;
		font-style: 
		top:60px;
		right:50px;
	}
	button.trivia.btn:hover, .btn:focus{
		background-color:#FFFE9F;
	}
	.trivia{
		font-size:15px;
		background-color:#FFFE9F;
		color:white;
	}
	button.btn{
		background-color:#FFFE9F; 
	}