	.img-thumbnail{
		background-color:#B37E44;
		border-color:transparent;
	}
	h3{
		color:#774111;
	}
	.btn{
		background-color:#B37E44;
		color:white;
	}
	.btn:hover, .btn:focus{
		background-color:#B37E44;
		color:white;
	}

	.borde {
		border-color: transparent;
		background-color: transparent;
	}
	.ppad{
		color:#774111;
		font-family:serif;
	}
	.text-left{
		color:#774111;
		padding-left:50px;
	}
	.col-md-6{
		padding-top:10px;
	}
@media (min-width: 750px) and (max-width: 989px){
  .ppad{
  	font-size:18px;
  }
  h3{
    font-size: 38px;
  }
  .text-left{
  	padding-left:180px;

  }
}
@media (min-width: 500px) and (max-width: 749px){
  .ppad{
  	font-size:18px;
  }
  h3{
    font-size: 38px;
  }
  .text-left{
  	padding-left:100px;

  }

}
@media (min-width: 415px) and (max-width: 435px){
  h3{
    font-size: 32px;
  }
  .ppad{
    font-size:18px;
  }
  .text-left{
  	padding-left:25px;
  }

}
@media (min-width: 410px) and (max-width: 411px){
  h3{
    font-size: 32px;
  }
  .ppad{
    font-size:18px;
  }
  .text-left{
  	padding-left:10px;
  }
}
@media (min-width: 412px) and (max-width: 414px){
  h3{
    font-size: 32px;
  }
  .ppad{
    font-size:18px;
  }
  .text-left{
  	padding-left:20px;
  }

}
@media (min-width: 374px) and (max-width: 409px){
  h3{
    font-size: 32px;
  }
  .ppad{
    font-size:18px;

  }
  .text-left{
  	padding-left:0px;
  }
}
@media (min-width: 359px) and (max-width: 373px){
  h3{
    font-size: 28px;
  }
  .ppad{
    font-size:16px;
  }
  .text-left{
  	padding-left:0px;
  }
}
@media (min-width: 300px) and (max-width: 358px){
   .ppad{
    font-size:14px;
  }
   h3 {
    font-size: 24px;
  }
  .text-left{
  	padding-left:0px;
  }

}