.imagen{
		padding-top: 20px;
		-webkit-filter: blur(5px);
    	filter: blur(5px);
	}
	h4{
		color:#774111;
		font-size:25px;
	}
	.img-thumbnail{
		background-color:#B37E44;
		border-color:transparent;
		padding-top:10px;
	}
	button.trivia.btn{
		background-color:#FFFE9F;
		font-style: 
		top:60px;
		right:50px;
	}
	button.trivia.btn:hover, .btn:focus{
		background-color:#FFFE9F;
	}
	.trivia{
		font-size:15px;
		background-color:#FFFE9F;
		color:white;
	}
	.borde {
		border-color: transparent;
		background-color: transparent;
	}
@media (min-width: 500px) and (max-width: 768px){
  .ppad{
    font-size:20px;
  }
  h4{
    font-size: 40px;
  }
  .caja{
    padding-top: 35px;
  }
  .ac{
    font-size: 16px;
  }

}
@media (min-width: 412px) and (max-width: 435px){
  h4{
    font-size: 28px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }

}
@media (min-width: 410px) and (max-width: 411px){
  h4{
    font-size: 23px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }
  .ac{
    font-size: 8px;
  }

}
@media (min-width: 409px) and (max-width: 414px){
  h4{
    font-size: 23px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }
  .ac{
    font-size: 11px;
  }

}
@media (min-width: 374px) and (max-width: 375px){
  h4{
    font-size: 23px;
  }
  .ppad{
    font-size:14px;
    padding-top:0px;
  }
}
@media (min-width: 359px) and (max-width: 360px){
  h4{
    font-size: 22px;
  }
  .ppad{
    font-size:14px;
    padding-right: 20px;
    padding-left:20px;
    padding-top:0px;
  }
}
@media (min-width: 319px) and (max-width: 358px){
   .ppad{
    font-size:14px;
    padding-right: 20px;
    padding-left:20px;
    padding-top:0px;
  }
   h4 {
    font-size: 19px;
  }
}