{{extend 'chuTemplate.html'}}

{{block body}}
<html>
	<head lang= "es">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{=URL('static','css/chuInfoEscul.css')}}"/>
	<tittle>chuInfoEscul</tittle>

</head>

<body>
	<div class=conteiner-fluid>
    	<div class="row">
      	<div class="col-6 col-6">

        	<div class="thumbnail">
          	<div class="caption">
            	<div class="row">
              	<div class="col-xs-6 col-md-6">
              		<div class="one-third mobile-collapse">
                		<img  src="../static/images/esculturas/21.jpg" class="img-responsive" alt="Imagen responsive">
                	</div>
              	</div>
              	
              	<div class="col-xs-6 col-md-6">
                	<h4 class=text-left><b>The Girl</b></h4>
                	<h6>
                  	<li class=text-left><p><b>A al vuelta de mi casa</b></p></li>
                  	<li class=text-left><p><b>23 de junio,1998</b></p></li>
                  	<li class=text-left><p><b>Autor: Cosme Fulanito</b></p></li>
                  	<li class=text-left><p><b>Material: Plastilina</b></p></li>
                  	<li class=text-left><p><b>Origen: China</b></p></li>
                	</h6>
                	<button><a href="{{=URL('chuMap','index')}}" class="btn">Ver en Mapa</a></button>
              	</div>
            	</div>
          		</div>
      
          		
      
          		<div>
          		<br>
	            	<p class="bajotext">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p><p class="bajotext">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
            	</div> 
            
            	
          	</div>
        </div>
      	</div>
    </div>

</body>
</html>
{{end}}