{{extend 'chuTemplate.html'}}
 
{{block body}}
<html lang= "es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{=URL('static','css/chuInfoCss.css')}}"/>
</head>
<body>
<div class="conteiner-fluid">
  	<div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
    	<div class="row caja">
      		<div class="thumbnail borde">
        		<div class="container one" style="border-radius: 5px; background-color:#F6E490; width:100%;">
        			<div class="row">
  						<div class="col-md-6">
  							<center>
  								<img  src="../static/images/esculturas/161.jpg" class="img-responsive img-thumbnail " alt="Imagen responsive" width="215" height="215">
  							</center>
  						</div>
  				
						<div class="col-md-6">
							<center><h3><b>Fernando</b></h3></center>
	            		<ul>
	            			<li class="text-left glyphicon glyphicon-map-marker">
	            			<b class="ppad"><u>Localización:</u>  Mitre 1</b>
	            			</li>
	            			<br>
			            	<li class="text-left glyphicon glyphicon-time">
			            	<b class="ppad"><u>Año:</u> 1963</b>
			            	</li>
			            	<br>
			            	<li class="text-left glyphicon glyphicon-user">
			            	<b class="ppad"><u>Autor:</u> Victor Marchese</b>
			            	</li>
			            	<br>
			            	<li class="text-left glyphicon glyphicon-question-sign">
			            	<b class="ppad"><u>Material:</u> Bronce</b>
			            	</li>
			            	<br>
			            	<li class="text-left glyphicon glyphicon-globe">
			            	<b class="ppad"><u>Origen:</u> Argentina</b>
			            	</li>
			            	<br>
			            </ul>
			            	<center>
			            		<button class="btn btn-dafault">Ver en Mapa</button>
			            	</center><br>
						</div>

					</div>
					<center>
            			<form class="btn btn-dafault" onclick="history.back()" style="background-color:transparent;">
              			<img src="{{=URL('static','images/atras.png')}}" width="80" height="30"/>
            			</form>
          			</center>
          		</div>
    		</div>
    	</div>
  	</div>
</div>
</body>
</html>
{{end}}