{{extend 'chuTemplate.html'}}

{{block body}}
  <!-- Logo Y Boton Jugar -->

<div class="row">
  <div class="col-xs-1 col-md-2"></div>
  
  <div class="col-xs-10 col-md-8 vcenter">
    <center><img src="{{=URL('static','images/chuwalLogo.png')}}" width="50%" height="50%" class="btnAc"/></center>
     <center>
      <a href="{{=URL('chuMap','index')}}">
        <img src="{{=URL('static','images/botJugar.png')}}" width="19%" height="7%"/>
      </a>
    </center>

    <center>
      <a href="{{=URL('chuNosotros','index')}}">
        <img src="{{=URL('static','images/CommonTec.png')}}" width="15%" height="5%"/>
      </a>
    </center>
  </div>

  <div class="col-xs-1 col-md-2"></div>
</div>
{{end}}