
<html lang= "es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{=URL('static','css/chuWelcome.css')}}"/>
 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
 	<link rel="stylesheet" href="{{=URL('static','css/bootstrap.css')}}">
 	<link rel="stylesheet" href="{{=URL('static','css/docs.css')}}">
 	<link rel="stylesheet" href="{{=URL('static','css/bootstrap-social.css')}}">
 	<link rel="stylesheet" href="{{=URL('static','css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/chuCSS.css')}}"/>
 	<title>Welcome</title>

<style>
    
    .btn-primary {
    color: #fff;
    background-color: #8A4B08;
    border-color: #fff;
}
    .btn-primary2 {
    color: #8A4B08;
    background-color: #fff;
    border-color: #8A4B08;
}

    .btn-primary:hover{
        text-decoration: none;
        background-color: #61380B;
    }

    .btn-primary2:hover {
    text-decoration: none;
    background-color: #E6E6E6;
}
</style>


</head>

<body class="backgroundChu">
<div class="col-md-offset-2 col-xs-offset-1 col-xs-10 col-md-8 vcenter">
  	<div class="row">
        <div class="account-wall">
			<center>
				<img class="btnAc img-responsive" src="../static/images/chuwalLogo.png" width="280" height="280" alt="Imagen responsive">
                <br>
                <h4>Un mundo de esculturas, de verdaderas esculturas,<br> te espera listo para ser atrapado.</h4>

            </center>

            <form class="form-signin">

                <input type="text" class="form-control" placeholder="Usuario" required autofocus>

                <input type="password" class="form-control" placeholder="Contraseña" required>

                <input type="text" class="form-control" placeholder="Email" required autofocus>

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Registrarse</button>

                 <center>       
                <div class=" btn-block"><a href="{{=URL('chuInterface','chuLogin')}}" class="need-help"><h3>Ingresar</h3></a></div>
                </center>


               
                <label class="checkbox pull-left"><input type="checkbox" value="remember-me"><b>Recordarme</b></label>
                <a href="{{=URL('chuInterface','chuHelp')}}" class="pull-right need-help"><b>Ayuda</b></a><span class="clearfix"></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>

